<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I am an app component</h3>
            <hr>
            <!--Element selector example-->
            <!--<app-servers></app-servers>-->

            <!--Attribute selector example-->
            <!--<div app-servers></div>-->

            <!--Class selector example-->
            <!--<div class="app-servers"></div>-->
            
            <app-servers></app-servers>
        </div>
    </div>
</div>


